h4, h2 {
		color: darkblue;
}
/* unvisited link */
a:link {
	color: darkblue;
	text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: green;
	text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
	color: hotpink;
	text-decoration: none;
  }
  
  /* selected link */
  a:active {
	color: blue;
	text-decoration: none;
  }
  
  p {
	  font-family: 'Tahoma';
	  font-size: medium;
	  color:darkblue;
  }
  #coldr {
    background-color: floralwhite;
    padding: 40px;
  }
  #colst {
    background-color: AliceBlue ;
    padding: 40px;
  }
  #coperta {
    background-color: floralwhite ;
  }
     
  .btn {
    position: relative;
    max-width: 10%;
    min-height: 15px;
    height: auto;
    padding: 0px 0px;
    border: 0 none transparent;
    border-radius: 6px;
    background-size: cover;
  }
  #admin {
    display: inline-block;
    width: 100px;
    height: 20px;   
    background-image: url("http://placehold.it/350x150");
    background-position: 0 0; 
  }

  img {
      max-width: 100%;
      height: auto;
    }
  .zoom:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1); 
    }
  .zoom {
      transition: transform .2s;
   }
   * {box-sizing: border-box}

   #admin {
     border-radius: 50%;
     float: left;
     left: 50%;
    transform: translate(-50%, 0);
   }
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

#mainframe {
  border: none;
  height: 5000px;
}

#comments {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#comments td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#comments tr:nth-child(even){background-color: #f2f2f2;}

#comments tr:hover {background-color: #ddd;}

#comments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}